---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Como desarrollador de software, he adquirido valiosas habilidades y
    destrezas a lo largo de mis experiencias laborales en diferentes empresas.
    Mi amplio conocimiento en el desarrollo de backends, creación de
    aplicaciones móviles y diseño de sitios web me ha permitido adaptarme a
    diversas tecnologías y entornos de trabajo. He trabajado con bases de datos
    relacionales y no relacionales, implementado micro-servicios y APIs, y
    desplegado sitios web en la nube. Además, he utilizado una variedad de
    lenguajes de programación como JavaScript, TypeScript, Python y Java, así como
    frameworks y bibliotecas populares como React, Angular, Vue y Flutter. Mi
    enfoque en metodologías ágiles y CI/CD ha demostrado mi capacidad para
    trabajar en equipos colaborativos y entregar proyectos de alta calidad de
    manera eficiente. Estoy constantemente actualizando mis habilidades y
    aprendiendo nuevas tecnologías para mantenerme al tanto de las últimas
    tendencias en el desarrollo de software. Mi pasión por la programación y mi
    capacidad para resolver problemas me convierten en un desarrollador versátil
    y apasionado, listo para enfrentar nuevos desafíos en el mundo del
    desarrollo de software.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <!-- <TimeLineElement
      title="Bachiller en Ciencias"
      subtitle="2010 to 2016 at Colegio Experimental Bernardo Valdivieso, Loja, Ecuador"
    /> -->
    <TimeLineElement
      title="Ingeniero en Sistemas"
      subtitle="2017 to 2022 at Universidad Nacional de Loja, Loja, Ecuador"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Scrum Master"
      subtitle="Desde 06/2023 hasta la actualidad en Trade (TRD), Quito, Ecuador"
      desc="Trade (TRD) es una empresa de tecnología especializada en el e-commerce, ofreciendo servicios de construcción de sitios web, aplicaciones móviles y micro-servicios en la nube. En mi rol, desempeñé un papel clave en el desarrollo de backends y la implementación de micro-servicios. Esto incluyó la creación de APIs para la integración de servicios de terceros, la implementación de servicios de autenticación segura y la construcción de sistemas automatizados. Adicionalmente, trabajé como Scrum Master, liderando equipos de desarrollo y asegurando la implementación de metodologías ágiles. También colaboré con el equipo de frontend para garantizar la integración fluida de las funcionalidades y la creación de experiencias de usuario atractivas. Utilicé frameworks como NestJS y React Native para desarrollar soluciones robustas y eficientes. Durante mi tiempo en Trade (TRD), empleé tecnologías y herramientas como AWS SAM, SES, StepFunctions, DynamoDB, MySQL, MongoDB, PostgreSQL, Redis, AWS Cloud, PHP y TypeScript para garantizar el rendimiento y la seguridad del sistema."
    />
    <TimeLineElement
      title="Backend Developer"
      subtitle="Desde 02/2022 hasta 04/2023 en Picker Express, Guayaquil, Ecuador"
      desc="En Picker Express, empresa de tecnología que ofrece a sus clientes un servicio orquestador de proveedores de entrega de comida y encargos, desempeñé un papel fundamental en diversas áreas clave. Mi trabajo incluyó la integración de APIs con servicios de terceros como Uber, PeYa, Lalamove, Rappi y Cabify entre otros, logrando una conexión fluida y eficiente con estos proveedores de entrega. Además, desarrollé micro-servicios backend para asegurar la funcionalidad y el rendimiento óptimo del sistema. También fui responsable de crear funcionalidades utilizando React, Angular y VueJS, aprovechando estas tecnologías para ofrecer experiencias de usuario interactivas y atractivas. Con un enfoque en metodologías ágiles y CI/CD, colaboré estrechamente con el equipo para lograr entregas rápidas y de alta calidad. Durante mi tiempo en Picker Express, utilicé tecnologías como MongoDB, Node.js, React.js, Angular, Vue.js y herramientas de AWS Cloud, junto con TypeScript, para impulsar el éxito y la eficiencia del negocio."
    />
    <TimeLineElement
      title="Software Developer"
      subtitle="Desde 02/2021 hasta 12/2021 en Oderbiz, Loja, Ecuador"
      desc="En Oderbiz, la agencia de Marketing más grande y estable de Loja, llevé a cabo una amplia gama de actividades, incluyendo el desarrollo de backend's, la creación de aplicaciones móviles, la construcción de sitios web y la administración de bases de datos relacionales y no relacionales. Además, me encargué del despliegue de sitios web en la nube, asegurando su disponibilidad y escalabilidad. También fui responsable de la creación y mantenimiento del sitio oficial de la empresa y servicios en la nube de Google y GoDaddy. Estas experiencias demuestran mis habilidades en el desarrollo full-stack, la gestión de bases de datos y el despliegue de sitios web. Durante mi tiempo en Oderbiz, utilicé tecnologías como MongoDB, NodeJS, Vuejs, Javascript, CSS, Bootstrap, Flutter, Wordpress y herramientas de Firebase, Google Cloud, GoDaddy para satisfacer las necesidades de los clientes de la empresa."
    />
    <TimeLineElement
      title="Mobile & Backend Developer"
      subtitle="Desde 05/2020 hasta 05/2021 en LoxaDev, Loja, Ecuador"
      desc="En LoxaDev, una empresa enfocada en el desarrollo de software a medida, participé en la construcción de la infraestructura de una sistema de entregas y encomiendas, modelando bases de datos utilizando MongoDB, desarrollé microservicios y REST APIs en Node.js, implementé servicios de autenticación con oAuth 2.0, y creé una aplicación móvil utilizando Flutter. Además, establecí la conexión entre la aplicación y los microservicios para permitir la interacción con el sistema. Estas actividades resaltan mis habilidades en el desarrollo de infraestructuras de sistemas, programación de microservicios, implementación de autenticación segura y creación de aplicaciones móviles multiplataforma. Durante mi tiempo en LoxaDev, utilicé tecnologías como MongoDB, NodeJS, SocketIO, Flutter, Javascript, Google Cloud, Heroku para construir la infraestructura del sistema delivery."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificados</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li style="list-style-type: none;">
      <img src="https://d1.awsstatic.com/certification/badges/AWS-Certified-Cloud-Practitioner_badge_150x150.17da917fbddc5383838d9f8209d2030c8d99f31e.png" alt="AWS Certified Cloud Practitioner Icon" class="inline-block w-24 h-24 mr-2" />
      <a
        href="https://cp.certmetrics.com/amazon/en/public/verify/credential/dc98c98d94b74f5988a49993919f13e1"
        target="_blank">AWS Certified Cloud Practitioner</a
      >
    </li>
    <li style="list-style-type: none;">
      <img src="https://static.platzi.com/media/achievements/badge-flujo-desarrollo-codestream-5a0492d0-ab21-4e33-925f-b74bd7ce4c20.png" alt="AWS Certified Cloud Practitioner Icon" class="inline-block w-24 h-24 mr-2" />
      <a
        href="https://platzi.com/cursos/desarrollo-moderno-codestream/"
        target="_blank">Flujo de Desarrollo Moderno CodeStream (Platzi)</a
      >
    </li>
    <li style="list-style-type: none;">
      <img src="https://cdn.prod.website-files.com/5ee12d8d7f840543bde883de/5ef3a1148ac97166a06253c1_flutter-logo-white-inset.svg" alt="AWS Certified Cloud Practitioner Icon" class="inline-block w-24 h-24 mr-2" />
      <a href="https://www.appbrewery.co/p/intro-to-flutter" target="_blank"
        >Introduction to Flutter development with Dart (London App Brewery)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Node</li>
    <li>Nest</li>
    <li>Lambdas</li>
    <li>Vue</li>
    <li>React</li>
    <li>Angular</li>
    <li>Supabase</li>
    <li>Django</li>
    <li>Dart</li>
    <li>Flutter</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Redis</li>
    <li>AWS Cloud (EC2, ECS, SAM, etc)</li>
    <li>Google Cloud (Instances, Firebase, Analytics)</li>
    <li>Linux Server</li>
  </ul>
</BaseLayout>
