---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Como desarrollador de software, he adquirido valiosas habilidades y destrezas a lo largo de mis experiencias laborales en diferentes empresas. Mi amplio conocimiento en el desarrollo de backend's, creación de aplicaciones móviles y diseño de sitios web me ha permitido adaptarme a diversas tecnologías y entornos de trabajo. He trabajado con bases de datos relacionales y no relacionales, implementado microservicios y APIs, y desplegado sitios web en la nube. Además, he utilizado una variedad de lenguajes de programación como JavaScript, TypeScript y Python, así como frameworks y bibliotecas populares como React, Angular, Vue.js y Flutter. Mi enfoque en metodologías ágiles y CI/CD ha demostrado mi capacidad para trabajar en equipos colaborativos y entregar proyectos de alta calidad de manera eficiente. Estoy constantemente actualizando mis habilidades y aprendiendo nuevas tecnologías para mantenerme al tanto de las últimas tendencias en el desarrollo de software. Mi pasión por la programación y mi capacidad para resolver problemas me convierten en un desarrollador versátil y apasionado, listo para enfrentar nuevos desafíos en el mundo del desarrollo de software.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <!-- <TimeLineElement
      title="Bachiller en Ciencias"
      subtitle="2010 to 2016 at Colegio Experimental Bernardo Valdivieso, Loja, Ecuador"
    /> -->
    <TimeLineElement
      title="Ingeniero en Sistemas"
      subtitle="2017 to 2022 at Universidad Nacional de Loja, Loja, Ecuador"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Developer"
      subtitle="From 02/2022 to 04/2023 at Picker Express, Guayaquil, Ecuador"
      desc="En Picker Express, una empresa que sirve como una pasarela orquestadora de entregas para PYMES, tuve la oportunidad de desempeñar un papel clave en varias áreas. Esto incluyó la conexión de APIs con servicios de terceros como Uber, PeYa, Lalamove, Rappi y Cabify, lo que permitió una integración fluida y eficiente con estos proveedores de entregas. Además, desarrollé microservicios backend para garantizar la funcionalidad y el rendimiento del sistema. También tuve la responsabilidad de crear funcionalidades utilizando React, Angular y VueJS, aprovechando estas tecnologías para ofrecer experiencias de usuario interactivas y atractivas. Con un enfoque en metodologías ágiles y CI/CD, trabajé en colaboración con el equipo para lograr entregas rápidas y de calidad. Durante mi tiempo en Picker Express, utilicé tecnologías como MongoDB, Node.js, React.js, Angular, Vue.js y herramientas de AWS Cloud, junto con TypeScript, para impulsar el éxito y la eficiencia del negocio."
    />
    <TimeLineElement
      title="Software Developer"
      subtitle="From 02/2021 to 12/2021 at Oderbiz, Loja, Ecuador"
      desc="En Oderbiz, la agencia de Marketing más grande y estable de Loja, llevé a cabo una amplia gama de actividades, incluyendo el desarrollo de backend's, la creación de aplicaciones móviles, la construcción de sitios web y la administración de bases de datos relacionales y no relacionales. Además, me encargué del despliegue de sitios web en la nube, asegurando su disponibilidad y escalabilidad. También fui responsable de la creación y mantenimiento del sitio oficial de la empresa y servicios en la nube de Google y GoDaddy. Estas experiencias demuestran mis habilidades en el desarrollo full-stack, la gestión de bases de datos y el despliegue de sitios web. Durante mi tiempo en Oderbiz, utilicé tecnologías como MongoDB, NodeJS, Vuejs, Javascript, CSS, Bootstrap, Flutter, Wordpress y herramientas de Firebase, Google Cloud, GoDaddy para satisfacer las necesidades de los clientes de la empresa."
    />
    <TimeLineElement
      title="Mobile & Backend Developer"
      subtitle="From 05/2020 to 05/2021 at LoxaDev, Loja, Ecuador"
      desc="En LoxaDev, una empresa enfocada en el desarrollo de software a medida, participé en la construcción de la infraestructura de una sistema de entregas y encomiendas, modelando bases de datos utilizando MongoDB, desarrollé microservicios y REST APIs en Node.js, implementé servicios de autenticación con oAuth 2.0, y creé una aplicación móvil utilizando Flutter. Además, establecí la conexión entre la aplicación y los microservicios para permitir la interacción con el sistema. Estas actividades resaltan mis habilidades en el desarrollo de infraestructuras de sistemas, programación de microservicios, implementación de autenticación segura y creación de aplicaciones móviles multiplataforma. Durante mi tiempo en LoxaDev, utilicé tecnologías como MongoDB, NodeJS, SocketIO, Flutter, Javascript, Google Cloud, Heroku para construir la infraestructura del sistema delivery."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://platzi.com/cursos/desarrollo-moderno-codestream/" target="_blank">Flujo de Desarrollo Moderno CodeStream (Platzi)</a>
    </li>
    <li>
      <a href="https://www.appbrewery.co/p/intro-to-flutter" target="_blank">Introduction to Flutter development with Dart (London App Brewery)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>Django</li>
    <li>VueJS</li>
    <li>ReactJS</li>
    <li>AngularJS</li>
    <li>Bootstrap</li>
    <li>Dart</li>
    <li>Flutter</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Redis</li>
    <li>Google Cloud</li>
    <li>AWS Cloud</li>
    <li>Linux Server</li>
  </ul>
</BaseLayout>
