---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">

  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos FullStack</div>
  </div>

  <HorizontalCard
    title="Anefi App"
    img="/anefi.webp"
    desc="Aplicación móvil para la inversión de fondos y fideicomisos en Ecuador."
    url="https://www.anefi.com.ec/anefi-app-2023/"
    badge="React Native, Serverless, Firebase, AWS services, Retool"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Alfanet App"
    img="/alfanet.webp"
    desc="Alfanet Ecuador es la aplicación oficial de Alfanet, el proveedor líder de Internet de Banda Ancha en Ecuador."
    url="https://play.google.com/store/apps/details?id=com.trade.alfanet&hl=es_EC"
    badge="React Native, Serverless, Firebase, AWS services, Supabase"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos Backend</div>
  </div>

  <HorizontalCard
    title="Integración para Chinawok Chile con Justo" 
    img="/chinawok.webp"
    desc="Comunicación e-commerce entre el API de Chinawok Chile y el API de Justo para la entrega de pedidos a domicilio y en tienda."
    url="https://www.chinawok.cl/pedir"
    badge="Nest, API, Webhooks, AWS services, MySQL"
  />

  <HorizontalCard
    title="Integración de Kobe Sushi con Picker Express" 
    img="/kobe.jpg"
    desc="Comunicación e-commerce entre el API de Kobe Sushi y el API de Picker Express para la gestión de pedidos a domicilio en la plataforma de Picker Express."
    url="https://domicilio.kobe-sushi.com/es"
    badge="Serverless, API, Webhooks, AWS services, DynamoDB"
  />

  <HorizontalCard
    title="Integración de KFC Chile para los centros comerciales de Cencosud en su aplicación" 
    img="/cencosud-app.png"
    desc="Comunicación e-commerce entre el API de KFC Chile y el API de Cencosud para la entrega de pedidos en tienda."
    url="https://appmimall.cl/"
    badge="Nest, API, Webhooks, AWS services, MySQL"
  />

  <HorizontalCard
    title="Integración de KFC Ecuador, KFC Colombia y KFC Chile con DeUna" 
    img="/kfc.png"
    desc="Comunicación e-commerce entre la API de KFC y la API de DeUna para la entrega de pedidos a domicilio."
    url="https://www.kentucky.cl/"
    badge="Nest, API, Webhooks, AWS services, MySQL"
  />
  <HorizontalCard
    title="Integración multi-marca con DeUna" 
    img="/juan-valdez.png"
    desc="Comunicación e-commerce entre el API de las marcas Menestras del Negro, Juan Valdez, Tropiburger, Pollos Gus, American Deli, Cajún, Federer, Casa Res, Il Cappo y la API de DeUna para la entrega de pedidos a domicilio."
    url="https://www.juanvaldezecuador.com/"
    badge="Nest, API, Webhooks, AWS services, MySQL"
  />

  <HorizontalCard
    title="Integración de KFC Ecuador en la plataforma e-commerce de PedidosYa Delivery" 
    img="/peya.png"
    desc="Comunicación e-commerce entre el API de Pedidos Ya POS con el API de KFC Ecuador para la gestión de pedidos a domicilio desde la web de Pedidos Ya"
    url="https://www.pedidosya.com.ec/"
    badge="Nest, API, Webhooks, CronJobs, AWS services, MySQL"
  />

  <HorizontalCard
    title="Picker Orchestrator"
    img="/picker_orchestrator.png"
    desc="Conjunto de micro-servicios encargados de comunicarse con las API's de los proveedores de entrega como: Uber, Rappi, PeYa, Cabify, Lalamove, etc."
    url="https://www.pickerexpress.com/productos/orquestador"
    badge="Serverless, API, QueJobs, Websockets, AWS services, MongoDB"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Picker Analytics"
    img="/picker_analytics_bi.png"
    desc="Módulo encargado de proporcionar datos estadísticos acerca de las entregas del negocio Picker con la posibilidad de generar reportes y mapas de calor."
    url="https://www.pickerexpress.com"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos Frontend</div>
  </div>

  <HorizontalCard
    title="Picker Panel Administrator"
    img="/admin_picker.png"
    desc="Módulo para configurar las tarifas por país de los proveedores de entrega"
    url="#"
    badge="Angular"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Oderbiz Official Web Site"
    img="/oderbiz_home.png"
    desc="Sitio oficial de la empresa de Marketing y Estrategia Oderbiz."
    url="https://www.oderbiz.com/"
    badge="WordPress"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rectoral Board"
    img="/rectoral.png"
    desc="Sitio web de Rectoral Board, institución comprometida con el desarrollo sostenible de la educación, que articula competencias, estrategias y acciones para el fortalecimiento de las instituciones de educación superior (IES)"
    url="https://rectoralboard.com/"
    badge="VueJS, Firebase"
  />
</BaseLayout>
