---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Backend Projects</div>
  </div>

  <HorizontalCard
    title="Picker Orchestrator"
    img="/post_img.webp"
    desc="Conjunto de microservicios encargados de comunicarse con las API's de los proveedores de entrega como: Uber, Rappi, PeYa, Cabify, Lalamove, etc."
    url="#"
    badge="Serverless, API, QueJobs, Websockets, AWS services, MongoDB"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Picker Analytics"
    img="/post_img.webp"
    desc="Microservicio encargado de proporcionar datos estadísticos acerca de las entregas del negocio Picker con la posibilidad de generar reportes y mapas de calor."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Frontend Projects</div>
  </div>

  <HorizontalCard
    title="Picker Panel Administrator"
    img="/post_img.webp"
    desc="Apartado para configurar las tarifas por país de los proveedores de entrega"
    url="#"
    badge="Angular"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Oderbiz Official Web Site"
    img="/oderbiz_home.png"
    desc="Sitio oficial de la empresa de Marketing y Estrategia Oderbiz."
    url="https://www.oderbiz.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rectoral Board"
    img="/post_img.webp"
    desc="Sitio Web de Rectoral Board, institución comprometida con el desarrollo sostenible de la educación, que articula competencias, estrategias y acciones para el fortalecimiento de las instituciones de educación superior (IES)"
    url="https://rectoralboard.com/"
    badge="VueJS, Firebase"
  />
</BaseLayout>
