---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">

  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos FullStack</div>
  </div>

  <HorizontalCard
    title="Anefi App"
    img="/my-portfolio/anefi_app.png"
    desc="Aplicación móvil para la inversión de fondos y fideicomisos en Ecuador."
    url="https://www.anefi.com.ec/anefi-app-2023/"
    badges='["React Native", "Serverless", "Firebase", "AWS", "Retool"]'
    />
  <HorizontalCard
    title="Somos KFC Ecuador"
    img="/my-portfolio/somos.webp"
    desc="Aplicación móvil diseñada para empleados de KFC, que permite consultar horarios, registros de marcaciones y participar en eventos y actividades corporativas de manera interactiva."
    url="https://play.google.com/store/apps/details?id=com.kruger.kfc.android&hl=es_EC"
    badges='["React Native", "8Base", "Retool"]'
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Alfanet App"
    img="/my-portfolio/alfanet.webp"
    desc="Alfanet Ecuador es la aplicación oficial de Alfanet, el proveedor líder de Internet de Banda Ancha en Ecuador."
    url="https://play.google.com/store/apps/details?id=com.trade.alfanet&hl=es_EC"
    badges='["React Native", "Serverless", "Firebase", "AWS", "Supabase"]'
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos Backend</div>
  </div>

  <HorizontalCard
    title="Integración para Chinawok Chile con Justo" 
    img="/my-portfolio/chinawok.webp"
    desc="Comunicación e-commerce entre el API de Chinawok Chile y el API de Justo para la entrega de pedidos a domicilio y en tienda."
    url="https://www.chinawok.cl/pedir"
    badges='["Nest", "API", "Webhooks", "AWS", "MySQL"]'
  />

  <HorizontalCard
    title="Integración de Kobe Sushi con Picker Express" 
    img="/my-portfolio/kobe.jpg"
    desc="Comunicación e-commerce entre el API de Kobe Sushi y el API de Picker Express para la gestión de pedidos a domicilio en la plataforma de Picker Express."
    url="https://domicilio.kobe-sushi.com/es"
    badges='["Serverless", "API", "Webhooks", "AWS", "DynamoDB"]'
  />

  <HorizontalCard
    title="Integración de KFC Chile para los centros comerciales de Cencosud en su aplicación" 
    img="/my-portfolio/cencosud-app.png"
    desc="Comunicación e-commerce entre el API de KFC Chile y el API de Cencosud para la entrega de pedidos en tienda."
    url="https://appmimall.cl/"
    badges='["Nest", "API", "Webhooks", "AWS", "MySQL"]'
  />

  <HorizontalCard
    title="Integración de KFC Ecuador, KFC Colombia y KFC Chile con DeUna" 
    img="/my-portfolio/kfc.png"
    desc="Comunicación e-commerce entre la API de KFC y la API de DeUna para la entrega de pedidos a domicilio."
    url="https://www.kentucky.cl/"
    badges='["Nest", "API", "Webhooks", "AWS", "MySQL"]'
  />
  <HorizontalCard
    title="Integración multi-marca con DeUna" 
    img="/my-portfolio/juan-valdez.png"
    desc="Comunicación e-commerce entre el API de las marcas Menestras del Negro, Juan Valdez, Tropiburger, Pollos Gus, American Deli, Cajún, Federer, Casa Res, Il Cappo y la API de DeUna para la entrega de pedidos a domicilio."
    url="https://www.juanvaldezecuador.com/"
    badges='["Nest", "API", "Webhooks", "AWS", "MySQL"]'
  />

  <HorizontalCard
    title="Integración de KFC Ecuador en la plataforma e-commerce de PedidosYa Delivery" 
    img="/my-portfolio/peya.png"
    desc="Comunicación e-commerce entre el API de Pedidos Ya POS con el API de KFC Ecuador para la gestión de pedidos a domicilio desde la web de Pedidos Ya"
    url="https://www.pedidosya.com.ec/"
    badges='["Nest", "API", "Webhooks", "CronJobs", "AWS", "MySQL"]'
  />

  <HorizontalCard
    title="Picker Orchestrator"
    img="/my-portfolio/picker_orchestrator.png"
    desc="Conjunto de micro-servicios encargados de comunicarse con las API's de los proveedores de entrega como: Uber, Rappi, PeYa, Cabify, Lalamove, etc."
    url="https://www.pickerexpress.com/es/productos/orquestador"
    badges='["Serverless", "API", "QueJobs", "Websockets", "AWS", "MongoDB"]'
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Picker Analytics"
    img="/my-portfolio/picker_analytics_bi.png"
    desc="Módulo encargado de proporcionar datos estadísticos acerca de las entregas del negocio Picker con la posibilidad de generar reportes y mapas de calor."
    url="https://www.pickerexpress.com"
    badges='["Serverless", "CronJobs", "MongoDB"]'
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos Frontend</div>
  </div>

  <HorizontalCard
    title="SMO"
    img="/my-portfolio/smo_admin.png"
    desc="Sistema avanzado para la gestión y control de facturación de locales comerciales en centros comerciales de Quito, optimizando procesos administrativos y financieros."
    url="/my-portfolio/blog/post2"
    badges='["Retool", "SFTP", "API", "Serverless", "EventBridge", "DynamoDB"]'
    target="_self"
  />
  <HorizontalCard
    title="Picker Panel Administrator"
    img="/my-portfolio/admin_picker.png"
    desc="Módulo para configurar las tarifas por país de los proveedores de entrega"
    url="#"
    badges='["Angular"]'
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Oderbiz Official Web Site"
    img="/my-portfolio/oderbiz_home.png"
    desc="Sitio oficial de la empresa de Marketing y Estrategia Oderbiz."
    url="https://www.oderbiz.com/"
    badges='["WordPress"]'
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rectoral Board"
    img="/my-portfolio/rectoral.png"
    desc="Sitio web de Rectoral Board, institución comprometida con el desarrollo sostenible de la educación, que articula competencias, estrategias y acciones para el fortalecimiento de las instituciones de educación superior (IES)"
    url="https://www.rectoralboard.com/"
    badges='["VueJS", "Firebase"]'
  />
</BaseLayout>
